*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;}
html , body{
    height: 100%;
    width: 100%;;
}

body{
    color: #0F1012;
}

.container{
    height: 100%;
    width: 100%;
}






/* header section */


header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.header-logo img{
    height: 3rem;
}

.header-logo h4{
    font-size: 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-left: 4rem;
}

nav a{
    text-decoration: none;
    color: #0f1012e3;
    font-size: 1.1rem;
    font-weight: 450;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.button{
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
}

.button-transparent{
    border: 2px solid #0061FE;
    color: #0061FE;
}

.button-color{
    border: none;
    background-color: #0061FE;
    color: rgba(255, 255, 255, 0.777);
}







/* main section */

main{
    padding: 0 15px;
}






/* hero section */



.hero-section{
    height: 135vh;
    background-color: #F6F7F9;
    padding: 3.5rem 2.8rem 2.4rem 2.8rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 0.7fr 0.7fr 4fr;
    grid-template-areas: "h2 p"
                         "h2 buttons"
                         "image image"
    ;
    grid-gap: 10px;
}

.hero-section h2{
    grid-area: h2;
    font-size: 3.4rem;
    font-weight: 400;
}

.hero-section p{
    grid-area: p;
    font-size: 1.3rem;
    color: #98999B;
    line-height: 2rem;
}

.hero-section-buttons{
    grid-area: buttons;
}

.hero-section-image{
    grid-area: image;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
}

.hero-section-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}






/* Numbers section */


.numbers-section{
    height: 50vh;
    /* padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "satisfaction-card insights-card strategies-card reach-card";
    grid-gap: 10rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.numbers-section .card{
    height: 100%;
    /* background-color: blue; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers-section .card h3{
    font-size: 4.8rem;
    font-weight: 400;
}

.numbers-section .card p{
    width: 15rem;
    font-size: 1.3rem;
    padding-top: 0.9rem;
    color: #98999B;
    text-align: center;
}

/* .satisfaction-card{
    grid-area: satisfaction-card;
}

.insights-card{
    grid-area: insights-card;
}

.strategies-card{
    grid-area: strategies-card;
}

.reach-card{
    grid-area: reach-card;
} */

.about-us-section{
    height: 100vh;
    background-color: #F6F7F9;
    padding: 3.5rem 2.8rem 2.4rem 2.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "button img"
                         "details img"
    ;
    grid-gap: 10px;
}

.about-us-section .about-us-button{
    grid-area: button;
}

.about-us-section .about-us-image{
    background-color: blue;
    grid-area: img;
    border-radius: 25px;
    overflow: hidden;
}

.about-us-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-us-section .about-us-details{
    grid-area: details;
}

.about-us-details h3{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 450;
    line-height: 2.6rem;
}

.about-us-details p{
    width: 88%;
    padding-top: 2.3rem;
    font-size: 1.5rem;
    color: #98999B;
}







/* service section */

.service-section{
    height: 190vh;
    padding: 3.5rem 2.8rem 2.4rem 2.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 0.5fr 1.2fr 1.2fr;
    grid-template-areas: "button button button button"
                         "details details details details"
                         "card1 card2 card3 card4"
                         "card5 card6 card7 card8"
    ;
    grid-gap: 20px;
}

.service-section .card{
    border-radius: 20px;
    overflow: hidden;
}

.service-section .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.service-button{
    grid-area: button;
    align-content: end;
}

.service-offerings{
    grid-area: details;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.service-offerings h2{
    width: 45%;
    font-size: 3rem;
    font-weight: 400;
}

.service-offerings p{
    width: 50%;
    padding-right: 1rem;
    color: #98999B;
    font-size: 1.2rem;
    word-spacing: 0.3rem;
}

.service-section .card-1{
    grid-area: card1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    background-color: #025efeec;
}

/* .service-section .card-details{
    color: white;
} */

.service-section .card-details h2{
    color: #B3EDFD;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.service-section .card-details h3{
    color: #52a2f2;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.service-section .card-details p{
    color: #52A1F2;
    font-size: 1.2rem;
}

.card-1 .card-icons{
    display: flex;
    gap: 0.8rem;
}

.card-icons .icon{
    height: 2rem;
    width: 2rem;
    border: 1px solid #52a1f2; 
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-section .card-2{
    grid-area: card2;
    object-position: left;
}

.service-section .card-3{
    grid-area: card3;
}

.service-section .card-4{
    grid-area: card4;
}

.service-section .card-5{
    grid-area: card5;
}

.service-section .card-6{
    grid-area: card6;
}

.service-section .card-7{
    grid-area: card7;
}

.service-section .card-8{
    grid-area: card8;
}






/* milestones section */