*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;}
html , body{
    height: 100%;
    width: 100%;;
}

body{
    color: #0F1012;
}

.container{
    height: 100%;
    width: 100%;
}






/* header section */


header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.header-logo img{
    height: 3rem;
}

.header-logo h4{
    font-size: 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-left: 4rem;
}

nav a{
    text-decoration: none;
    color: #0f1012e3;
    font-size: 1.1rem;
    font-weight: 450;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.button{
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
}

.button-transparent{
    border: 2px solid #0061FE;
    color: #0061FE;
}

.button-color{
    border: none;
    background-color: #0061FE;
    color: rgba(255, 255, 255, 0.777);
}







/* main section */

main{
    padding: 0 15px;
}






/* hero section */



.hero-section{
    height: 135vh;
    background-color: #F6F7F9;
    padding: 3.5rem 2.8rem 2.4rem 2.8rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    grid-template-rows: 0.7fr 0.7fr 4fr;
    grid-template-areas: "h2 p"
                         "h2 buttons"
                         "image image"
    ;
    grid-gap: 10px;
}

.hero-section h2{
    grid-area: h2;
    font-size: 3.4rem;
    font-weight: 400;
}

.hero-section p{
    grid-area: p;
    font-size: 1.3rem;
    color: #98999B;
    line-height: 2rem;
}

.hero-section-buttons{
    grid-area: buttons;
}

.hero-section-image{
    grid-area: image;
    background-color: blue;
    border-radius: 20px;
    overflow: hidden;
}

.hero-section-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}






/* Numbers section */


.numbers-section{
    height: 50vh;
    /* padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "satisfaction-card insights-card strategies-card reach-card";
    grid-gap: 10rem; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.numbers-section .card{
    height: 100%;
    /* background-color: blue; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers-section .card h3{
    font-size: 4.8rem;
    font-weight: 400;
}

.numbers-section .card p{
    width: 15rem;
    font-size: 1.3rem;
    padding-top: 0.9rem;
    color: #98999B;
    text-align: center;
}

/* .satisfaction-card{
    grid-area: satisfaction-card;
}

.insights-card{
    grid-area: insights-card;
}

.strategies-card{
    grid-area: strategies-card;
}

.reach-card{
    grid-area: reach-card;
} */

.about-us-section{
    height: 100vh;
    background-color: #F6F7F9;
    padding: 3.5rem 2.8rem 2.4rem 2.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "button img"
                         "details img"
    ;
    grid-gap: 10px;
}

.about-us-section .about-us-button{
    grid-area: button;
}

.about-us-section .about-us-image{
    background-color: blue;
    grid-area: img;
    border-radius: 25px;
    overflow: hidden;
}

.about-us-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.about-us-section .about-us-details{
    grid-area: details;
}

.about-us-details h3{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 450;
    line-height: 2.6rem;
}

.about-us-details p{
    width: 88%;
    padding-top: 2.3rem;
    font-size: 1.5rem;
    color: #98999B;
}