@font-face {
    font-family: roboto-med;
    src: url(./roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: montserrat-med;
    src: url(./montserrat//Montserrat-Medium.ttf);
}

@mixin button-style($bg-color: white, $color: black) {
    background-color: $bg-color;
    color: $color;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    border: none;
    font-family: montserrat-med;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F9F3FB;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    h2{
        font-family: montserrat-med;
        font-size: 1rem;
    }
}

main{
    .hero-section{
        padding: 10px 30px;
        h3{
            font-size: 2rem;
            font-family: montserrat-med;
            text-align: center;
            line-height: 2rem;
            font-weight: 900;
            color: rgb(25, 23, 23);
        }

        p{
            font-family: sans-serif;
            font-size: 0.9rem;
            text-align: center;
            padding: 0.7rem 0;
            color: rgba(35, 17, 17, 0.568);
            font-weight: 500;
        }

        .buttons{
            display: flex;
            justify-content: center;
            gap: 5rem;
        }

        .button-buy-now{
            @include button-style(rgba(66, 66, 164, 0.868), white);
        }

        .button-explore{
            @include button-style();
            box-shadow: 2px 2px 5px gray;
        }

        img{
            width: 100%;
            margin-top: 1.5rem;
            border-radius: 5px;
        }
    }
}

