*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

/* #rcg{
    height: 200px;
    width: 200px;
    margin-left: 2rem;
    border: 2px solid black;
} */

/* #btn{
    margin-top: 5rem;
    margin-left: 2rem;
    height: 3rem;
    width: 7rem;
    background-color: aqua;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    border: 1px solid black;
} */

/* main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    height: 3.5rem;
    width: 9rem;
    background-color: rgb(26, 108, 26);;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 1rem;
    position: relative;
    z-index: 9;
}

button:active{
    scale: 0.95;
} */


/* main{
    background-color: rgba(0, 0, 0, 0.848);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 600px;
    background-color: rgb(7, 90, 90);
    border-radius: 10px;
    padding: 40px;
}

.outer{
    width: 100%;
    height: 50px;
    background-color: skyblue;
    border-radius: 50px;
    overflow: hidden;
}


.inner{
    width: 0%;
    height: 100%;
    background-color: rgba(14, 194, 1, 0.9);
    border-radius: 50px;
}


.bottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    font-size: 35px;
    color: white;
}

button{
    color: white;
    height: 3.5rem;
    width: 9rem;
    background-color: rgb(3, 78, 3);
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:active{
    scale: 0.95;
} */
